:root {
  --padding: 1rem;
  --radius: 0.5rem;
  --shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  --transition: 0.2s ease-in-out;
  --margin: 1rem;

  /* Colors */
  --primary: #664DFF;
  
  --white: #fff;
  --black: #101010;

  --gray: #b5b5b5;
  --gray-light: #F0F0F0;
  --gray-dark: #7e7e7e;

  --red: #FF4D4D;
  --red-dark: #FF0000;
  --red-light: #FFBABA;
}